<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body style="background-color: aqua;">
    <h1>Edit Recipe</h1>
    <div style="background-color: blueviolet;">
	<form action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
		<label for="name">Name:
			<input type="text" name="name" value="<%=recipe.name%>">
		</label><br>
		<label for="author">Author:
			<input type="text" name="author" value="<%=recipe.author%>">
		</label><br>
		<label for="image">Image:
			<input type="text" name="image" value="<%=recipe.image%>">
		</label><br>
            Ingredients: <textarea name="ingredients" cols="30" rows="10"><%=recipe.ingredients%></textarea>
		<br>
        Recipe: <textarea name="recipe" id="" cols="30" rows="10"><%=recipe.ingredients%></textarea>
		<button type="submit">Update Recipe</button>
	</form>
</div>
</body>
</html>