<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
        <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
    <h1>THE SHOP</h1>
    <ul>
        <% for (let i = 0; i < recipes.length; i++) { %>
          <li>
            <a href="/recipes/<%=recipes[i].id%>"> <h2><%=recipes[i].name%></h2></a>
            By <a href="/recipes/<%=recipes[i].id%>"> <h4><%=recipes[i].author%></h4></a>
            <a href="/recipes/<%=recipes[i].id%>"> <img src="<%=recipes[i].image%>"></a>
          </li>
          <% } %>
      </ul>
      <a href="/recipes/new">Create a New Recipe</a>
  </body>
  </html>