<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Document</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    
</head>
<body>
    <a href="/recipes">Back to Recipe List</a>
	<h1><%=recipe.name%></h1>
<div>
    <h2> By <%=recipe.author%></h2>
    <img src="<%= recipe.image %>">
    <h2>Ingredients: </h2><p><%= recipe.ingredients %></p>
    <h2>Recipe: </h2> <p> <%= recipe.recipe %></p>
</div>
<a href="/recipes/<%= recipe.id %>/edit">Edit Recipe</a>
</body>
</html>